
{% extends 'tmcore/base.html' %}
{% block content %}
<div class="container mt-4 mx-1 mb-5">
    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>

    <div class="row text-black">
        <div class="col-sm-5  mt-5">
            <h2>HTML/CSS</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:70%"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="70">70%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-1  mt-5">
            <h2>Javascript</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%"
                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
        </div>

        <div class="col-sm-5 mt-5">
            <h2>Python</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:90%"
                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            </div>

        

        <div class="col-sm-5 offset-sm-1 mt-5">
            <h2>Php</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:40%"
                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
            </div>
        </div>

        
        <div class="col-sm-5 mt-5">
            <h2>SQL</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-1 mt-5">
            <h2>Django</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%"
                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
